<div id="logreg-forms">
    <form [formGroup]="form" class="form-signin" (ngSubmit)="onSubmitClicked($event)">
        <h1 class="h3 mb-3 font-weight-normal text-center">ثبت نام</h1>

        <div class="social-login d-flex gap-2">
            <button class="btn facebook-btn social-btn w-100" type="button">
                <span><i class="fab fa-facebook-f"></i> ثبت نام با فیس بوک</span>
            </button>

            <button class="btn google-btn social-btn w-100" type="button">
                <span><i class="fab fa-google-plus-g"></i> ثبت نام با گوگل</span>
            </button>
        </div>

        <p class="text-center">یا</p>

        <input type="text" [formControl]="name" class="form-control" placeholder="نام"
            [ngClass]="{'my-invalid': name.invalid && name.touched}">
        <div *ngIf="name.invalid && name.touched">
            <small class="text-danger" *ngIf="name.errors?.['required']">فیلد نام اجباری است</small>
            <small class="text-danger" *ngIf="name.errors?.['minlength']">باید حداقل 2 کاراکتر باشد</small>
        </div>

        <input type="text" [formControl]="lastname" class="form-control" placeholder="نام خانوادگی"
            [ngClass]="{'my-invalid': lastname.invalid && lastname.touched}">
        <div *ngIf="lastname.invalid && lastname.touched">
            <small class="text-danger" *ngIf="lastname.errors?.['required']">نام خانوادگی الزامی است</small>
            <small class="text-danger" *ngIf="lastname.errors?.['minlength']">حداقل باید 2 کاراکتر باشد</small>
        </div>

        <input type="email" [formControl]="email" class="form-control" placeholder="آدرس ایمیل"
            [ngClass]="{'my-invalid': email.invalid && email.touched}">
        <div *ngIf="email.invalid && email.touched">
            <small class="text-danger" *ngIf="email.errors?.['required']">فیلد ایمیل الزامی ست</small>
            <small class="text-danger" *ngIf="email.errors?.['email']">فرمت ایمیل صحیح نیست</small>
        </div>

        <div class="password-wrapper">
            <input [type]="show ? 'text' : 'password'" formControlName="password" placeholder="پسورد"
                class="form-control password-input" (input)="updateConditions()" />

            <span class="toggle-icon" (click)="togglePassword()">
                @if(!show) {
                <i class="bi bi-eye"></i>
                }
                @if(show){
                <i class="bi bi-eye-slash"></i>
                }
            </span>
        </div>


        <div style="padding: 10px 5px; background-color: white; margin-bottom: 5px;"
            *ngIf="form.get('password')?.touched">
            <div class="password-strength">
                <div class="box" [style.background]="getBoxColor(0)"></div>
                <div class="box" [style.background]="getBoxColor(1)"></div>
                <div class="box" [style.background]="getBoxColor(2)"></div>
                <div class="box" [style.background]="getBoxColor(3)"></div>
            </div>

            <div>
                <small class="text-danger" *ngIf="form.get('password')?.errors?.['required']">
                    فیلد پسورد نمی‌تواند خالی باشد
                </small>
            </div>

            <small [style.color]="getColorFor(conditions.length)">حداقل ۸ کاراکتر</small><br>
            <small [style.color]="getColorFor(conditions.uppercase)">حداقل یک حرف بزرگ</small><br>
            <small [style.color]="getColorFor(conditions.special)">حداقل یک کاراکتر ویژه #@!</small><br>
            <small [style.color]="getColorFor(conditions.number)">حداقل یک عدد</small>

        </div>


        <input type="password" formControlName="confirmpassword" class="form-control" placeholder="تکرار پسورد"
            [ngClass]="{'my-invalid': form.get('confirmpassword')?.invalid && form.get('confirmpassword')?.touched}">
        <div *ngIf="form.get('confirmpassword')?.touched && form.errors?.['passwordMismatch']">
            <small class="text-danger">پسوردها با هم مطابقت ندارند</small>
        </div>

        <input type="tel" [formControl]="phone" class="form-control" placeholder="شماره موبایل"
            style="direction: rtl; text-align: right;">

        @if(phone.invalid && phone.touched) {
        <div class="text-danger">شماره موبایل معتبر نیست </div>
        }

        <button class="btn btn-success w-100 cursor-not-allowed" type="submit"
            [style.opacity]="form.invalid || name.invalid || lastname.invalid || email.invalid ? '0.5' : '1'"
            [style.pointerEvents]="form.invalid || name.invalid || lastname.invalid || email.invalid ? 'none' : 'auto'"
            [ngClass]="{'cursor-not-allowed': form.invalid || name.invalid || lastname.invalid || email.invalid}">
            ثبت نام
        </button>

        <a href="#" id="forgot_pswd">فراموشی رمز عبور؟</a>
        <hr>

        <div class="d-flex gap-2">
            <button (click)="doLogin()" class="btn btn-primary w-100" type="button">
                <i class="fas fa-user-plus"></i> ورود به سیستم
            </button>
            <button (click)="doLogout()" class="btn btn-danger w-100" type="button">
                <i class="fas fa-user-plus"></i> خروج از سیستم
            </button>
        </div>
    </form>

    <!-- Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" (click)="closeModal()"></button>
                </div>
                <div class="modal-body">
                    کاربر با اطلاعات زیر ثبت نام شد
                    <div class="mt-2 p-2">
                        name: {{ name.value }}<br />
                        lastname: {{ lastname.value }}<br />
                        email: {{ email.value }}<br />
                        password: {{ form.get('password')?.value }}<br />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>