.sidebar {
    width: 250px;
    height: 100vh;
    transition: transform 0.3s ease;
    transform: translateX(0);
}

.sidebar-hidden {
    transform: translateX(+100%);
}

.no-pr {
    padding-right: 0 !important;
}

.nav-link.active {
    background-color: #0d6efd;
    color: white;
}

.nav-link {
    color: white;
}